input[type=text], select {
  width: 40%;
  padding: 14px 21px 12px 6px;
  margin: 2px 2px;
  border: 2px solid black;
  border-radius: 8px;
}
.div1 {
    border: 2px solid black;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: block;
    margin: 0px;
	padding: 0px 0px;
    width: 500px;
    height: 380px;
    font-size: large;
    text-align: center;
    
}
.sbtn
{
  background-color:yellow;
  margin: auto;
  display: block;
  cursor: pointer;
  border: 2px solid black;
  font-size: 1em;
  border-radius: 5px;
}
.container1
{
 background-color: silver;
 display: block;
 margin: auto;
width: 600px;
  height: 350px;
}
.white-text-with-blue-shadow {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  font: 1.5em Georgia, serif;
}
.red-text-shadow {
  text-shadow: red 0 -2px;
}
* {
  box-sizing: border-box;
}

.left {
  width: 450px;
  float: left;
  padding: 5px;
 margin: 5px;
  border: 3px solid green;
  border-radius: 15px;
  height: 509px;
  
}

.main {
  width: 550px;
  float: left;
  padding: 5px 10px;
  margin: 5px;
  border: 3px solid green;
  border-radius: 15px;
  background-color: lightseagreen;
}
.right {
  width: 28%;
  float: left;
  padding: 5px;
 margin: 5px;
  border: 3px solid green;
border-radius: 15px;

}
.card{
  width:38px;
  height: 38px;
  float:left;
  margin:2px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 14px;
  float: left;
  padding: 9px 8px;
  font-weight: bold;


}
#columnleft
{
  width:370px;
  height: 450px;
  float :left;
  text-align:left;
}
.number{
font-weight: bold;
padding: 90px 10px;

}

#search{
  font-size: x-large;
  border: 2px solid black;
}
#rslt{
font-weight: bold;
display: block;
margin: none;
padding: 20px 20px;
font-size: xx-large;
width:600px;
}
#ntbs{
  font-size: large;
  padding: 20px;
}